/**
@font-face{
	font-family: DFPShaoNvW;
	src:url(http://www.uichange.com/font/xjl.ttf);
}
*/
img{
	border: 0;
}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.pagination {
    padding: 5px;
    float: right;
}

.pagination a, .pagination a:link, .pagination a:visited {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #006699;
}

.pagination a:hover, .pagination a:active {
    border: 1px solid #006699;
    color: #000;
    text-decoration: none;
}

.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #006699;
    font-weight: bold;
    background-color: #006699;
    color: #FFF;
}

.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
}