.sites {
}
 .sites a {
        display:block;
        float:left;
        width:50%;
        height:35px;
        overflow:hidden;
        line-height:35px;
        text-align:center;
}
.float_clear {
        clear:both;
        height:0px;
        line-height:0px;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        overflow:hidden;
}

.lineTop {
	PADDING-BOTTOM:1px; padding-top:1px; TEXT-INDENT: 10px; LINE-HEIGHT: 1px; BORDER-TOP: #ddd 1px solid; height: 2px;
TEXT-ALIGN: center;
}
.lineBottom {
	PADDING-BOTTOM:1px; padding-top:1px; TEXT-INDENT: 10px; LINE-HEIGHT: 1px; BORDER-BOTTOM: #ddd 1px solid; height: 2px;
TEXT-ALIGN: center;
}
.lineBottom A {
    FONT-WEIGHT: bolder; COLOR: blue;DISPLAY: block
}

.position SPAN {
	COLOR: #1f376d
}

.soft {
 PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BORDER-TOP: #ddd 0px solid; PADDING-BOTTOM: 6px; OVERFLOW: hidden; PADDING-TOP: 10px; BORDER-BOTTOM: #ddd 1px solid; ZOOM: 1
}
.map {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 6px 0px 0px; 
}
.soft_info {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 55%; LINE-HEIGHT: 30px; margin-left:8px;
  padding-top:-2px;
}
.soft_info div
{
height:25px;
line-height:20px;

}
.soft_name {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #1f376d; margin-top:-2px;
}
.soft_info SPAN {
	COLOR: #1f376d
}
.soft_dl {
	FLOAT:left;width:100%; BORDER-TOP: #ddd 1px solid;
}
.soft_dl A {
	FONT-SIZE: 14px; BACKGROUND: url(http://theme.3g.cn/images/game/game03.jpg) no-repeat; MARGIN: 3px 0px 7px; WIDTH: 72px; COLOR: #ffffff; LINE-HEIGHT: 28px; DISPLAY: block; HEIGHT: 28px; TEXT-ALIGN: center
}
body
{

  /*border: #ddd 1px solid;*/
  height:auto;
  padding-top: 15px;
}
.theme_img {
    TEXT-ALIGN: center
}
.theme
{
line-height:30px;
padding-left:5px;
padding-right:5px;  
}
#divrecom{
    text-align:center; padding-bottom:5px; padding-top:2px;}
#divrecom a img
{
    margin-right:2px;
    margin-bottom:2px;
}
.down{
display: table-cell;
 vertical-align: middle;
 position: static;
}
.divthemeitem
{
 width:200px; margin:0 auto;text-align:center; vertical-align:middle;
 margin-top:2px;
 display:table;
 padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
    }
#divclew{margin-left:0px;BORDER-BOTTOM: #ddd 1px solid;}
#divimginfo
{
position:relative; margin-top:5px; margin-bottom:5px;line-height:30px;height:60px;  
}
#divimgsize
{
    position:absolute; z-index:1; text-align:center;width:100%;margin-top:20px;
    }
    #divimgpageplaynext
    {width:auto; float:right; color: #496BE2; cursor:pointer;}
    #divimgpageplayprev
    {width:auto; float:left; color: #496BE2; cursor:pointer;display:none;}
    #adownlink
    {
    background: url(http://theme.3g.cn/images/game/game03.jpg) no-repeat;display:block;width: 72px;height: 28px;line-height: 28px;text-align: center;color: white;font-size: 14px; margin-left:60px!important;margin-left:30px;float:left;   
    }
    #divinfo{margin-left:0px; margin-right:0px; margin-top:5px;margin-bottom:40px}
    #divallimg{display:none;}
.theme_span
{
    font-size:16px;
    font-weight:bold;
}
A .hotA {
COLOR: red;
}
.pagination { height:35px; line-height:35px; clear:both; margin:1px 0 ; text-align:center;}
.pagination a{ display:inline-block; padding: 0 1px;}
.pagination span.current { background:url(../images/page.jpg) no-repeat center center; font-weight:bold;display:inline-block;width:20px}
.pagination  .prev_page{ font-weight:bold;}
.pagination  a.next_page{ font-weight:bold;}