a {
	text-decoration: none;
}
.title {
	line-height: 18px;
	width: 205px;
}
.app-title {
	width: 98%;
	font-size: 16px;
	background: rgb(234,43,116);
	margin: 0 auto;
	padding: 12px 10px;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 2px #333;
	-webkit-box-shadow: inset 0 0 50px rgba(0,0,0, 0.1);
}
.icon-free {
	displya:inline-block;
	vertical-align:middle;
	line-height: 23px;
	width: 10%;
	height:23px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
padding: 3px 7px 2px;
	margin-bottom:1px;
	background: #F60;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.icon_set {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:4px;
	display:block;
}
@media screen and (max-width:1440px) {
.icon, .icon_set a {
}
.icon{
	margin:0 0 3px 0;
}
}
@media screen and (max-width:768px) {
.contents_image {
text-align:left;
width: 15%;
margin: 0;
padding: 0 0 0 4px;
}
}
@media screen and (max-width:720px) {
.icon, .icon_set a {
}
.icon-free {
	margin-left: 50%;
}
.icon{
	margin:0;
	width:72px;

}
}
@media screen and (max-width:540px) {
.contents_txt {width: 75%;}
}
@media screen and (max-width: 480px) {
.icon, .icon_set a {
}
.icon-free {
	margin-left: 33%;}

.icon{
	margin:0;
	width:47px;
}
}
#foot {
	clear: left;
	width: 100%;
	margin-top:8px;
	padding-bottom: 30px;
	border-top:solid 3px #fff;
}
.icon{
	width:66px;
	display: block;
	float:left;
	padding:2px 4px 2px 2px ;
}
@media screen and (max-width: 320px) {
.icon{
	margin:0;
	width:47px;
}
#side-menu{
margin-top: 270px;
}
